Host unreal-windows kyberm0nk-unreal
    HostName 192.168.1.245
    User ue_agent
    IdentityFile /run/kyberm0nk/secrets/windows_unreal_ed25519
    IdentitiesOnly yes
    BatchMode yes
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ServerAliveInterval 30
    ServerAliveCountMax 3
